<div ng-show="session">
  <div ng-show="!note" class="alert alert-info"><i class="icon-spinner icon-spin"></i> Loading Note...</div>

  <form ng-show="note" name="noteForm" novalidate class="form">
    <span><b>Date: </b>{{ note.date | date:'MM-dd-yyyy, hh:mm a' }}</span>
    <label for="inputContent"><b>Content:</b> (click to edit)</label>

    <div name="inputContent" contenteditable="true" ng-model="note.content" title="Click to edit"></div>
    <div class="spacer"></div>
    <div class="controls">
      <a class="btn btn-small " ng-click="back()"><i class="icon-arrow-left"></i> Back</a>
      <a class="btn btn-small btn-primary" ng-click="saveNote()"><i class="icon-save"></i> Save</a>
      <a class="btn btn-small btn-warning" ng-click="deleteNote(note)"><i class="icon-trash"></i> Remove</a>
    </div>
  </form>
</div>
