<div ng-show="!session" class="well">
  <form name="loginForm" novalidate class="form-horizontal">
    <legend>Please Login</legend>
    <div class="alert alert-error" ng-show="error">
      <i class="icon-warning-sign"></i> <span ng-show="errorMessage">{{ errorMessage }}</span>
      <span ng-hide="errorMessage">Invalid login credentials!</span>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>

      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <input type="text" name="inputUsername" placeholder="username"
                 ng-model="credentials.userName" focus-me="focusUsername"
                 ng-change="focusUsername = false" required/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>

      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-key"></i></span>
          <input type="password" name="inputPassword" placeholder="password"
                 ng-model="credentials.password" focus-me="focusPassword"
                 ng-change="focusPassword = false" required/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="reset" class="btn" ng-click="resetLogin(false)">reset</button>
        <button type="submit" class="btn btn-primary" ng-click="doLogin()" ng-disabled="loginForm.$invalid">login
        </button>
      </div>
    </div>
  </form>
</div>
